insmod gfxmenu
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_12.pf2
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_14.pf2
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_16.pf2
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_24.pf2
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_32.pf2
loadfont ($root)/boot/grub/themes/Tela/dejavu_sans_48.pf2
loadfont ($root)/boot/grub/themes/Tela/terminus-12.pf2
loadfont ($root)/boot/grub/themes/Tela/terminus-14.pf2
loadfont ($root)/boot/grub/themes/Tela/terminus-16.pf2
loadfont ($root)/boot/grub/themes/Tela/terminus-18.pf2
insmod jpeg
insmod png
set theme=($root)/boot/grub/themes/Tela/theme.txt
export theme

menuentry "BeefOS" {
	multiboot /boot/beefkern
}
